.nav_controllers {
    @include flexColumn;
    justify-content: space-between;
    align-items: stretch;
    border-right: $thick_border_light_gray;

    @media (max-width: 860px) {
        &.show {
            left: 0;
        }
    }
}

.nav_links_wrapper {
    @include flexColumn;
    gap: $distance_sm;
}

.nav_controller {
    width: 100%;
    @include flexCenter;
    justify-content: stretch;
}

.nav_link,
.themeButton {
    width: 100%;
    @include flexCenter;
    font-size: 1rem;
    gap: clamp(14px, 1.6rem, 20px);

    padding: 0.8em;
    background-color: var(--bg_color);
    outline: none;
    border: 2px solid transparent;
    transition: $transition_md;
    cursor: pointer;

    svg {
        height: $fs_heading_sm;

        @media (max-width: 1024px) {
            height: $fs_heading_ssm;
        }

        // @media (max-width: 768px) {
        //     height: $fs_heading_3sm;
        // }
    }

    span {
        font-size: $fs_normal_md;
        font-weight: 500;

        @media (max-width: 1024px) {
            font-size: $fs_normal_sm;
        }

        // @media (max-width: 768px) {
        //     font-size: $fs_normal_ssm;
        // }
    }

    svg,
    span {
        color: var(--text_color);
        transition: $transition_md;
    }

    @media (max-width: 768px) {
        gap: clamp(6px, 0.8rem, 12px);
    }

    &:hover {
        background-color: var(--in_focus_gray);

        svg,
        span {
            color: var(--hover_text_color);
        }
    }

    &.active {
        svg,
        span {
            color: $primary_color;
        }
    }
}

.nav_link {
    justify-content: flex-start;
    border-radius: $distance_sm;
    padding-left: 1.6em;

    @media (max-width: 1024px) {
        padding-left: 0.8em;
    }

    // @media (max-width: 768px) {
    //     padding-left: 0.2em;
    // }
}

.themeButton {
    border-color: var(--out_focus_gray);

    svg {
        height: $fs_heading_md;

        @media (max-width: 1024px) {
            height: $fs_heading_ssm;
        }

        // @media (max-width: 768px) {
        //     height: $fs_heading_3sm;
        // }
    }

    span {
        @media (max-width: 1024px) {
            font-size: $fs_normal_ssm;
        }

        // @media (max-width: 768px) {
        //     font-size: $fs_normal_3sm;
        // }
    }

    &:hover {
        svg {
            transform: scale(1.16);
        }
    }
}
