.postsPageContent {
    @include flexColumn;
    gap: clamp(26px, 2.8rem, $distance_xl);
    position: relative;
}

.sortControllers {
    justify-self: start;
    @include flexCenter;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: clamp($distance_lg, 2.66rem, $distance_xl);
}

.postsWrapper,
.pageController {
    width: 100%;
}

.masonryGrid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: calc($post_masonry_gap * -1); /* gutter size offset */
    width: auto;
}
.masonryGridColumn {
    padding-left: $post_masonry_gap; /* gutter size */
    background-clip: padding-box;
}

.masonryGridColumn > div {
    margin-bottom: $post_masonry_gap;
}

.pageController {
    @include flexColumn;
    align-items: center;
    gap: 16px;

    p {
        font-size: $fs_normal_md;
        color: var(--text_color);
        transition: $transition_md;

        span {
            font-size: $fs_normal_md;
            font-weight: 600;
            color: var(--text_color);
            transition: $transition_md;

            @media (max-width: 1024px) {
                font-size: $fs_normal_sm;
            }

            @media (max-width: 768px) {
                font-size: $fs_normal_ssm;
            }
        }

        @media (max-width: 1024px) {
            font-size: $fs_normal_sm;
        }

        @media (max-width: 768px) {
            font-size: $fs_normal_ssm;
        }
    }
}

.paginationControllers {
    @include flexCenter;
    flex-wrap: wrap;
    gap: clamp(26px, 2.8rem, $distance_xl);

    & > * {
        flex: 1;
    }

    @media (max-width: 768px) {
        gap: clamp(20px, 2.6rem, 30px);
    }
}

.addPostBtnWrapper {
    position: fixed;
    bottom: calc($page_content_main_padding * 0.6);
    right: calc($page_content_main_padding * 0.8);
    isolation: isolate;
}

.postPageAddPostBtn {
    position: relative;
    @include flexCenter;

    font-size: 1rem;
    padding: 1.2em;
    aspect-ratio: 1 / 1;
    overflow: hidden;

    outline: none;
    border: none;
    border-radius: 999px;
    background-color: var(--bg_color_brighter);
    transition: $transition_md;
    z-index: 10;

    cursor: pointer;

    svg {
        height: $fs_heading_md;
        color: var(--text_color);
        transition: $transition_md;
    }

    &:hover {
        background-color: $primary_color;

        svg {
            animation: addPostBtnOnHoverSpin 660ms ease-in-out;
            animation-delay: 260ms;
        }
    }
}

.addPostBtnHelper {
    $bottom_arrow_width: $distance_md;
    position: absolute;
    top: -100%;
    right: 0;

    font-size: $fs_normal_md;
    font-weight: 560;
    color: var(--text_color);
    padding: 0.36em 0.8em;
    width: max-content;
    background-color: $primary_color;
    border-radius: $distance_sm;
    cursor: default;
    transition: $transition_md;
    z-index: 5;

    display: flex;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    @media (max-width: 1024px) {
        font-size: $fs_normal_sm;
    }

    @media (max-width: 768px) {
        font-size: $fs_normal_ssm;
    }

    &::after {
        position: absolute;
        content: '';
        display: block;
        right: 12%;
        bottom: -40%;
        height: 0;
        width: 0;
        border-left: $bottom_arrow_width solid transparent;
        border-right: $bottom_arrow_width solid transparent;
        border-top: $bottom_arrow_width solid $primary_light_color;
        z-index: 1;
    }

    &.hidden {
        animation: vanish 360ms ease-in-out forwards;
        pointer-events: none;
    }

    &.show {
        animation: appear 660ms ease-in-out both;
        visibility: visible;
        pointer-events: auto;
    }
}
