.mainInpWrapper {
    $inpFsz: $fs_normal_md;
    $inpDistanceTopBottom: 0.36em;
    $inpDistanceLeftRight: 0.6em;

    position: relative;
    font-size: $inpFsz;
    width: 100%;

    .mainInpStyle {
        width: 100%;
        font-size: $inpFsz;
        color: $black_text;
        letter-spacing: 0.06em;
        padding: $inpDistanceTopBottom $inpDistanceLeftRight;
        background-color: $snow_white_color;

        border-radius: $distance_sm;
        border: $thick_border_light_gray;
        outline: none;
        transition: $transition_md;

        @media (max-width: 1024px) {
            font-size: calc($inpFsz * 0.92);
        }

        @media (max-width: 768px) {
            font-size: calc($inpFsz * 0.86);
        }

        &::placeholder {
            color: transparent;
        }

        &:focus,
        &:active {
            border-color: $primary_dark_color;
        }

        &:not(:placeholder-shown) {
            & ~ label {
                transform: translateY(-76%) translateX(-6%) scale(0.86);
                color: $primary_color;
                font-weight: 600;
            }
        }

        &[type='password']::-ms-reveal,
        &[type='password']::-ms-clear {
            // appearance: none;
            display: none;
        }

        // &:invalid {
        //     border-color: $red_color;
        // }
    }

    .mainInpLabel {
        position: absolute;
        font-size: $inpFsz;
        color: rgba($color: $dark_gray_color, $alpha: 0.66);
        letter-spacing: 0.06em;
        // padding: 0.36em 1.2em;
        padding: $inpDistanceTopBottom $inpDistanceLeftRight;
        background-color: transparent;

        // top: $inpDistanceTopBottom;
        // left: $inpDistanceLeftRight;
        top: 0;
        left: 0;
        user-select: none;
        cursor: text;
        transition: $transition_md;

        @media (max-width: 1024px) {
            font-size: calc($inpFsz * 0.92);
        }

        @media (max-width: 768px) {
            font-size: calc($inpFsz * 0.86);
        }

        @media (max-width: 460px) {
            padding: calc($inpDistanceTopBottom * 1.2) $inpDistanceLeftRight;
            font-size: calc($inpFsz * 0.82);
            white-space: nowrap;
        }
    }

    .showPwdBtn {
        position: absolute;
        right: $inpDistanceLeftRight;
        padding-right: $inpDistanceLeftRight;
        top: 50%;
        transform: translateY(-50%);

        @include flexCenter;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;

        svg {
            height: $fs_normal_lg;
            color: $black_text;
            transition: $transition_md;

            @media (max-width: 1024px) {
                height: $fs_normal_md;
            }

            @media (max-width: 768px) {
                height: calc($fs_normal_md * 0.9);
            }
        }
    }
}
