$modalWrapperAnimationTime: 360ms;
$modalAnimationTime: 260ms;

.modalWrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    backdrop-filter: blur($distance_sm) brightness(60%);
    z-index: 150;

    @include displayGrid;
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-rows: 1fr 3fr 1fr;

    &.hidden {
        animation: vanish $modalWrapperAnimationTime ease-in-out forwards;
        animation-delay: calc($modalAnimationTime * 1.1);
        visibility: visible;
        pointer-events: none;
    }

    &.show {
        animation: appear $modalWrapperAnimationTime ease-in-out both;
        visibility: visible;
        pointer-events: auto;
    }
}

.modal {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: var(--bg_color);
    border: $thick_border_light_gray;
    border-radius: $distance_lg;

    @include displayGrid;
    grid-template-rows: 1fr 3fr 0.5fr;
    overflow: hidden;

    &.show {
        transform-origin: bottom center;
        animation: modalZoomInAppear $modalAnimationTime ease-in-out both;
        animation-delay: calc($modalWrapperAnimationTime * 0.66);
    }

    &.hidden {
        transform-origin: top center;
        animation: modalZoomOutDisappear $modalAnimationTime ease-in-out both;
        pointer-events: none;
    }
}

.modalHeader {
    padding: min($distance_xxl, 4rem);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    transition: $transition_md;

    background-color: $primary_color;

    h1 {
        font-size: $fs_heading_sm;
        font-weight: 900;
        color: var(--text_color);
        margin: 0;
    }

    button {
        font-size: 1rem;
        padding: 0.66em;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;

        svg {
            height: $fs_heading_md;
            color: var(--text_color);

            path,
            line,
            polyline {
                fill: currentColor;
                stroke: none;
            }
        }
    }
}

.modalBody {
    @include flexColumn;
    padding: min($distance_xl, 3.2rem) min($distance_xxl, 4rem) 0;
    align-items: stretch;
    gap: clamp($distance_xl, 3.6rem, $distance_xxl);

    .mainTextAreaWrapper {
        flex: 1;
    }
}

.postTitle {
}

.postContent {
    overflow-y: auto;
}

.modalFooter {
    padding: min($distance_xl, 3.2rem) min($distance_xxl, 4rem);
    @include flexCenter;
    align-items: stretch;
}

.submitPostBtn {
    width: 100%;
    font-size: $fs_normal_md;
    font-weight: 700;
    color: var(--text_color);
    background-color: $primary_color;
    transition: $transition_md;

    &:hover {
        color: var(--hover_text_color);
        background-color: $primary_darker_color;
    }
}
