.btn {
    text-align: center;
    transition: $transition_md;
    font-size: 1rem;
    padding: 0.66em 1.2em;

    &.nextBtn,
    &.prevBtn {
        @include flexCenter;
        gap: clamp($distance_ssm, 0.86em, 10px);

        span,
        svg {
            color: var(--text_color);
            transition: $transition_md;
        }

        span {
            font-size: $fs_normal_md;
            font-weight: 560;

            @media (max-width: 1024px) {
                font-size: $fs_normal_sm;
            }

            @media (max-width: 768px) {
                font-size: $fs_normal_ssm;
            }
        }

        svg {
            height: $fs_heading_ssm;

            @media (max-width: 1024px) {
                height: $fs_normal_xl;
            }

            @media (max-width: 768px) {
                height: $fs_normal_lg;
            }
        }

        &:hover {
            span,
            svg {
                color: var(--hover_text_color);
            }
        }
    }

    &.btnLoading {
        @include flexCenter;
        flex-wrap: wrap;
        gap: 20px;

        background: linear-gradient(90deg, $primary_color 25%, $primary_darker_color 50%, $primary_light_color 75%);
        background-size: 600px 100%;
        animation: btnSubmitLoading 2600ms infinite linear;

        @media (max-width: 1024px) {
            gap: 16px;
        }

        @media (max-width: 768px) {
            gap: 12px;
        }
    }
}

.loadingBtnImg {
    height: $distance_lg;

    @media (max-width: 1024px) {
        height: 18px;
    }

    @media (max-width: 768px) {
        height: 14px;
    }
}
