.btn {
    text-align: center;
    transition: $transition_md;
    font-size: 1rem;
    padding: 0.66em 1.2em;

    &.nextBtn,
    &.prevBtn {
        @include flexCenter;
        gap: clamp($distance_ssm, 0.86em, 10px);

        span,
        svg {
            color: var(--text_color);
            transition: $transition_md;
        }

        span {
            font-size: $fs_normal_md;
            font-weight: 560;

            @media (max-width: 1024px) {
                font-size: $fs_normal_sm;
            }

            @media (max-width: 768px) {
                font-size: $fs_normal_ssm;
            }
        }

        svg {
            height: $fs_heading_ssm;

            @media (max-width: 1024px) {
                height: $fs_normal_xl;
            }

            @media (max-width: 768px) {
                height: $fs_normal_lg;
            }
        }

        &:hover {
            span,
            svg {
                color: var(--hover_text_color);
            }
        }
    }
}
