.sortControllerLabel {
    font-size: $fs_normal_md;
    font-weight: 600;
    color: var(--text_color);
    transition: $transition_md;
}

.sortSelection {
    font-size: $fs_normal_md;
    font-weight: 500;
    color: var(--text_color);
    padding: 0.26em 0.36em;
    border-radius: $distance_sm;
    margin-left: 0.6em;

    background-color: transparent;
    border: $thick_border_light_gray;
    cursor: pointer;
    transition: $transition_md;

    & > option {
        font-size: $fs_normal_md;
        padding: 0.26em 0.36em;
        background-color: var(--bg_color);
        transition: $transition_md;
        cursor: pointer;
    }

    &:active,
    &:focus {
        border-color: $primary_color;
    }
}
