.registerPage {
    @include flexColumn;
    align-items: center;
    justify-content: center;
    gap: 20px;

    background-color: $login_register_bgc;

    @media (max-width: 1024px) {
    }

    @media (max-width: 768px) {
        padding: 0 $distance_lg;
    }

    form {
        @include flexColumn;
        gap: $login_register_form_gap_normal;

        @media (max-width: 1024px) {
            gap: calc($login_register_form_gap_normal * 0.92);
        }

        @media (max-width: 768px) {
            gap: calc($login_register_form_gap_normal * 0.86);
        }
    }
}

.firstLastNameWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $login_register_form_gap_normal;
    flex-wrap: wrap;

    & > * {
        flex: 1;
    }
}

.inpAndHelperTextWrapper {
    p {
        font-size: $fs_normal_4sm;
        color: rgba($color: $black_text, $alpha: 0.56);
        font-weight: 600;
        margin-top: 0.36em;

        @media (max-width: 1024px) {
            font-size: calc($fs_normal_4sm * 0.86);
        }

        @media (max-width: 768px) {
            font-size: calc($fs_normal_4sm * 0.76);
        }
    }
}

.isAdminInpsWrapper {
    @include displayGrid;
    grid-template-columns: 1fr 2fr;
    gap: $login_register_form_gap_normal;

    & > * {
        justify-self: stretch;
        align-self: center;
    }

    @media (max-width: 1024px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 768px) {
        gap: $login_register_form_gap_mobile;
    }

    p {
        display: none;
    }

    label[for='registerAdminSecretKey'] {
        @media (max-width: 768px) {
            font-size: $fs_normal_3sm;
            white-space: nowrap;
        }

        @media (max-width: 460px) {
            $inpDistanceTopBottom: 0.36em;
            $inpDistanceLeftRight: 0.6em;

            font-size: $fs_normal_4sm;
            padding: calc($inpDistanceTopBottom * 1.66) $inpDistanceLeftRight;
        }
    }

    input[id='registerAdminSecretKey'] {
        &:not(:placeholder-shown) {
            & ~ label {
                @media (max-width: 768px) {
                    transform: translateY(-76%) translateX(-10%) scale(0.8);
                }
            }
        }
    }

    .registerAdminSecretKey[disabled] {
        pointer-events: none;
        background-color: rgba($color: $gray_color, $alpha: 0.86);
        border-color: transparent;
    }

    &:has(#isAdminToggleBtn:checked) p {
        display: block;
    }
}

.controllersWrapper {
    @include flexColumn;
    align-items: center;
    gap: clamp(10px, 1.2rem, $distance_md);
    margin-top: -0.6em;

    .registerSubmitBtn {
        width: 100%;
        font-size: $fs_normal_md;
        font-weight: 800;
        color: $white_text;

        @media (max-width: 1024px) {
            font-size: $fs_normal_sm;
        }

        @media (max-width: 768px) {
            font-size: $fs_normal_ssm;
        }

        &:hover {
            color: $black_text;
        }
    }

    a {
        text-align: center;
        font-size: $fs_normal_sm;
        color: $blue_color;
        font-weight: 460;
        transition: $transition_md;

        @media (max-width: 1024px) {
            font-size: $fs_normal_ssm;
        }

        @media (max-width: 768px) {
            font-size: $fs_normal_3sm;
        }

        &:hover {
            color: $primary_dark_color;
        }
    }
}
