.postItem {
    padding: $postAndCommentItemPadding;

    @include flexColumn;
    gap: clamp($distance_md, 2rem, $distance_lg);
    border-radius: $distance_sm;
    box-shadow: 0 $distance_3sm $distance_ssm var(--out_focus_gray);
    transition: $transition_md;
    transition-delay: 160ms;

    @media (max-width: 1024px) {
        gap: clamp(10px, 1.4rem, $distance_md);
    }

    @media (max-width: 768px) {
        gap: clamp($distance_ssm, 1rem, 10px);
    }

    &:hover {
        filter: brightness(1.03);
        transform: translateY(-2px);
        box-shadow: 0 $distance_ssm $distance_md var(--out_focus_gray);
    }
}

.postItemHeader {
    display: flex;
    justify-content: space-between;
    // justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 1rem;
    gap: clamp($distance_md, 1.6rem, 18px);

    @media (max-width: 1024px) {
        gap: clamp($distance_sm, 1.2rem, 14px);
    }

    @media (max-width: 768px) {
    }
}

.postHeaderLeft {
    flex: 1;
    @include flexCenter;
    justify-content: flex-start;
    gap: clamp($distance_sm, 1rem, 12px);

    .postAvatarImgWrapper {
        flex-shrink: 0;
        width: $postAndCommentItemAvatarWidth;
        aspect-ratio: 1 / 1;
        @include flexCenter;

        @media (max-width: 1024px) {
            width: calc($postAndCommentItemAvatarWidth * 0.96);
        }

        @media (max-width: 768px) {
            width: calc($postAndCommentItemAvatarWidth * 0.86);
        }
    }

    a {
        @include flexColumn;
        align-items: flex-start;

        span {
            font-size: $fs_normal_ssm;
            color: var(--text_color);
            transition: $transition_md;

            @media (max-width: 768px) {
                font-size: calc($fs_normal_ssm * 0.76);
            }
        }

        & > *:first-child {
            font-weight: 560;
        }

        &:hover span {
            text-decoration: underline;
            text-underline-offset: clamp(2px, 0.4rem, $distance_3sm);
        }
    }
}

.postHeaderRight {
    @include flexCenter;
    cursor: default;

    span {
        display: block;
        font-size: $fs_normal_3sm;
        font-weight: 500;
        color: var(--text_color);
        padding: 0.2em 0.46em;
        text-align: center;

        background-color: $primary_color;
        border-radius: $distance_ssm;
        transition: $transition_md;

        @media (max-width: 1024px) {
            font-size: calc($fs_normal_3sm * 0.96);
        }

        @media (max-width: 768px) {
            font-size: calc($fs_normal_3sm * 0.86);
        }
    }
}

.postItemBody {
    @include flexColumn;
    align-items: flex-start;
    gap: clamp($distance_ssm, 0.66rem, $distance_sm);

    .postItemTitle,
    p {
        font-size: $fs_normal_3sm;
        color: var(--text_color);
        transition: $transition_md;
        line-height: 1.6;

        @media (max-width: 1024px) {
            font-size: calc($fs_normal_3sm * 0.92);
        }

        @media (max-width: 768px) {
            font-size: calc($fs_normal_3sm * 0.86);
        }
    }

    .postItemTitle {
        font-size: $fs_normal_md;
        font-weight: 600;

        @media (max-width: 1024px) {
            font-size: $fs_normal_sm;
        }

        @media (max-width: 768px) {
            font-size: $fs_normal_ssm;
            font-weight: 500;
        }
    }

    a.postItemTitle {
        cursor: pointer;
        &:hover {
            text-decoration: underline;
            text-underline-offset: clamp(2px, 0.4rem, $distance_3sm);
        }
    }

    p {
        max-width: 75ch;
    }
}

.postItemFooter {
    @include flexCenter;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: clamp(10px, 1.4rem, $distance_md);

    .numberPostComments,
    .postDate {
        font-size: $fs_normal_3sm;
        color: var(--text_color);
        transition: $transition_md;

        @media (max-width: 1024px) {
            font-size: calc($fs_normal_3sm * 0.9);
        }

        @media (max-width: 768px) {
            font-size: calc($fs_normal_3sm * 0.86);
        }
    }

    .numberPostComments {
        padding: 0.46em 0.8em;
        font-weight: 560;
        background-color: var(--out_focus_gray);
        border-radius: $distance_ssm;
        cursor: default;
    }

    a.numberPostComments {
        cursor: pointer;
        &:hover {
            color: var(--hover_text_color);
            background-color: var(--in_focus_gray);
        }
    }

    .postDate {
    }
}
