.viewPostPageContent {
    height: 100%;

    @media (max-width: 600px) {
        gap: $distance_ssm;
    }
}

.postDetailSection {
    gap: clamp($distance_xl, 3.6rem, $distance_xxl);
    max-height: none;
    height: max-content;

    @media (max-width: 600px) {
        max-height: none;
        height: max-content;
    }
}

.formCmtForPost {
    @include flexColumn;
    align-items: flex-end;
    gap: clamp($distance_md, 2rem, $distance_lg);
}

.cmtForPost {
    width: 100%;
    resize: none;
    font-size: $fs_normal_md;
    color: $black_text;
    padding: 0.6em;
    height: clamp(120px, 14rem, 160px);
    background-color: $snow_white_color;

    outline: 1px solid var(--out_focus_gray);
    border-radius: $distance_sm;
    border: 2px solid transparent;
    transition: $transition_md;

    @media (max-width: 1024px) {
        font-size: $fs_normal_sm;
    }

    @media (max-width: 768px) {
        font-size: $fs_normal_ssm;
    }

    &:active,
    &:focus {
        border-color: $primary_color;
    }
}

.addCmtBtn {
    font-size: $fs_normal_md;
    font-weight: 600;

    @media (max-width: 1024px) {
        font-size: $fs_normal_sm;
    }

    @media (max-width: 768px) {
        font-size: $fs_normal_ssm;
    }
}

.postCommentsSection {
}
