.logInPage {
    @include flexCenter;
    flex-direction: row;
    flex-wrap: wrap;
    gap: clamp(140px, 16rem, 180px);

    background-color: $login_register_page_bgc;

    @media (max-width: 1024px) {
        flex-direction: column;
        gap: clamp(100px, 1rem, 140px);
    }

    @media (max-width: 768px) {
        gap: clamp(36px, 0.46rem, 60px);
        flex-direction: column;
    }
}

.logInForm {
    flex-shrink: 1;
    min-width: 32%;
    @include flexColumn;
    gap: $login_register_form_gap_normal;

    @media (max-width: 1024px) {
        gap: calc($login_register_form_gap_normal * 0.92);
        min-width: 50%;
        overflow-y: auto;
    }

    @media (max-width: 768px) {
        gap: calc($login_register_form_gap_normal * 0.86);
        min-width: 80%;
    }
}

.supportTextWrapper {
    font-size: 1rem;
    margin: -1.2em 0 -0.6em;
    .supportTextHeading,
    .supportText {
        font-size: $fs_normal_4sm;
        user-select: none;

        span {
            font-size: $fs_normal_3sm;
            font-weight: 600;
            user-select: text;
        }
    }
}
