.page {
    @include flexColumn;
    width: 100%;
    // height: 100%;
    // min-height: 100vh;
    height: 100vh;
    background-color: var(--bg_color);
    transition: $transition_md;
    overflow: hidden;
    position: relative;
}

.pageHeader {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    @include flexCenter;
    justify-content: space-between;
    gap: clamp(20px, 5.6em, 60px);
    padding: $fs_normal_md calc($page_content_main_padding * 1.06);

    transition: $transition_md;
}

.pageContent {
    flex: 1;

    @include displayGrid;
    grid-template-columns: 2.5fr 9.5fr;
    transition: $transition_md;
    position: relative;
    overflow: hidden;
}

.sideBar {
    padding: $page_content_main_padding;
    padding-left: calc($fs_heading_lg * 1.06);
    position: sticky;
}

.footer {
    @include flexCenter;
    padding: clamp(8px, 1.4em, 16px);
    transition: $transition_md;
}

.mainBtn {
    border-radius: $distance_sm;
    // font-size: $fs_normal_md;
    border: none;
    outline: none;
    background-color: var(--out_focus_gray);
    cursor: pointer;

    &:hover {
        background-color: var(--in_focus_gray);
    }
}

.mainPrimaryColorBtn {
    color: var(--text_color);
    background-color: $primary_color;
    transition: $transition_md;

    &:hover {
        color: var(--hover_text_color);
        background-color: $primary_dark_color;
    }
}

.userAvatar {
    width: 100%;
    height: auto;
    border: 3px solid $primary_light_color;
    border-radius: 999px;
    transition: $transition_md;

    &:hover {
        border-color: $primary_lighter_color;
        // border-color: $primary_darker_color;
    }
}

.twoPartsSectionWrapper {
    @include displayGrid;
    grid-template-columns: repeat(2, 1fr);
    isolation: isolate;

    & > *:first-child {
        border-right: $thin_border_light_gray;
    }
}

.sectionHeading {
    @include flexCenter;

    position: sticky;
    top: 0;
    font-size: $fs_normal_lg;
    font-weight: 600;
    padding: 0.86em 0;
    color: var(--text_color);
    background-color: var(--bg_color);
    transition: $transition_md;
    z-index: 100;

    gap: clamp($distance_sm, 0.8rem, 10px);
    border-bottom: $thin_border_light_gray;
    cursor: default;

    svg {
        height: $fs_heading_ssm;
        color: var(--text_color);
        transition: $transition_md;
    }
}

.twoPartsSectionContentWrapper {
    padding: $distance_md;
    @include flexColumn;
    gap: clamp($distance_lg, 2.6rem, 30px);
    gap: 26px;
    overflow-y: auto;
    max-height: 760px;
    z-index: 50;
}

.logInAndRegisterFormWrapper {
    // padding: clamp();
    padding: $login_register_form_padding;
    background-color: $snow_white_color;
    border-radius: $distance_md;
}
