@keyframes dropdownBounce {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }
    60% {
        transform: scaleY(1.06);
        opacity: 1;
    }
    80% {
        transform: scaleY(0.96);
        opacity: 1;
    }
    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: scale(1) rotate(0);
    }
    15% {
        transform: scale(0.86) rotate(540deg);
    }
    30% {
        transform: scale(1.5) rotate(1080deg);
    }
    50% {
        transform: scale(1.96) rotate(1440deg);
    }
    70% {
        transform: scale(1.36) rotate(1800deg);
    }
    90% {
        transform: scale(0.6) rotate(2190deg);
    }
    100% {
        transform: scale(1) rotate(2160deg);
    }
}

@keyframes vanish {
    0% {
        display: flex;
        opacity: 1;
    }
    50% {
        opacity: 46%;
    }
    100% {
        display: none;
        opacity: 0;
    }
}

@keyframes appear {
    0% {
        display: none;
        opacity: 0;
    }
    50% {
        display: flex;
        opacity: 60%;
    }
    100% {
        display: flex;
        opacity: 1;
    }
}
