@keyframes dropdownBounce {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }
    60% {
        transform: scaleY(1.06);
        opacity: 1;
    }
    80% {
        transform: scaleY(0.96);
        opacity: 1;
    }
    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}

@keyframes addPostBtnOnHoverSpin {
    0% {
        transform: scale(1) rotate(0);
    }
    15% {
        transform: scale(0.86) rotate(540deg);
    }
    30% {
        transform: scale(1.5) rotate(1080deg);
    }
    50% {
        transform: scale(1.96) rotate(1440deg);
    }
    70% {
        transform: scale(1.36) rotate(1800deg);
    }
    90% {
        transform: scale(0.6) rotate(2190deg);
    }
    100% {
        transform: scale(1) rotate(2160deg);
    }
}

@keyframes vanish {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 36%;
    }
    50% {
        opacity: 60%;
    }
    90% {
        opacity: 96%;
    }
    100% {
        opacity: 1;
    }
}

@keyframes modalZoomInAppear {
    0% {
        transform: scale(0.0006);
    }
    50% {
        transform: scale(0.6);
    }
    80% {
        transform: scale(0.96);
    }
    90% {
        transform: scale(1.06);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes modalZoomOutDisappear {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.02);
    }
    50% {
        transform: scale(0.66);
    }
    80% {
        transform: scale(0.36);
    }
    90% {
        transform: scale(0.1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes badgeFallDown {
    0% {
        top: -160px;
    }
    16% {
        top: max(3rem, 30px);
    }
    86% {
        top: max(3rem, 30px);
    }
    100% {
        top: -160px;
    }
}

@keyframes skeletonLoading {
    0% {
        background-position: -600px 0;
        opacity: 100%;
    }
    50% {
        opacity: 30%;
    }
    100% {
        background-position: 600px 0;
        opacity: 100%;
    }
}
