/* =============================================== */
/* COLORS + FONT SIZES + PADDING SETUP  */
/* =============================================== */
// COLORS
$black_color: #000;
$white_color: #fff;
$black_text: #333;
$white_text: #f5f5f5;
$ebony_black_color: #222428;
$snow_white_color: #fffafa;
$gray_color: #d6d6d6;
$light_gray_color: #e8e8e8;
$dark_gray_color: #b3b3b3;
$light_green_color: #4ad66d;
$green_color: #2dc653;
$dark_green_color: #208b3a;
$light_red_color: #dd2c2f;
$red_color: #d02224;
$dark_red_color: #ac1c1e;
$yellow_color: #ffda3d;
$light_yellow_color: #ffe94e;
$dark_yellow_color: #fdb833;
$blue_color: #329cf4;
$light_blue_color: #64b5f6;
$dark_blue_color: #1976d2;

$primary_color: #ff6d00;
$primary_light_color: #ff8500;
$primary_lighter_color: #ff950a;
$primary_dark_color: #e26200;
$primary_darker_color: #d35c01;
$primary_darkest_color: #bb5100;

$app_primary_filter_shadow: drop-shadow(0 3px 6px rgba(#000, $alpha: 0.36));

// FONT SIZES + PADDING
$fs_heading_xxl: clamp(4.6rem, 3.6vw + 4.8rem, 5.6rem);
$fs_heading_xl: clamp(4rem, 3vw + 4rem, 4.6rem);
$fs_heading_lg: clamp(3.6rem, 2.6vw + 3.6rem, 4rem);
$fs_heading_md: clamp(3.2rem, 1.86vw + 3.2rem, 3.6rem);
$fs_heading_sm: clamp(3rem, 1.66vw + 3rem, 3.2rem);
$fs_heading_ssm: clamp(2.66rem, 1.6vw + 2.8rem, 3rem);
$fs_heading_3sm: clamp(2.6rem, 1.4vw + 2.6rem, 2.66rem);

$fs_normal_xl: clamp(2.26rem, 1.2vw + 2.2rem, 2.46rem);
$fs_normal_lg: clamp(1.76rem, 0.8vw + 1.8rem, 2.26rem);
$fs_normal_md: clamp(1.66rem, 0.6vw + 1.66rem, 1.76rem);
$fs_normal_sm: clamp(1.56rem, 0.46vw + 1.6rem, 1.66rem);
$fs_normal_ssm: clamp(1.36rem, 0.3vw + 1.4rem, 1.56rem);
$fs_normal_3sm: clamp(1rem, 0.3vw + 1.2rem, 1.36rem);
$fs_normal_4sm: clamp(0.66rem, 0.2vw + 0.86rem, 1rem);

$distance_3xl: 48px;
$distance_xxl: 40px;
$distance_xl: 32px;
$distance_lg: 24px;
$distance_md: 16px;
$distance_sm: 8px;
$distance_ssm: 6px;
$distance_3sm: 4px;

/* =============================================== */
/* WEB OWN VARIABLES SET UP  */
/* =============================================== */
$breakpoint_tablet: 1024px;
$breakpoint_mobile: 768px;

$transition_md: all 360ms ease-in-out;

$thin_border_light_gray: 1px solid
    rgba(
        $color: $gray_color,
        $alpha: 0.6,
    );
$thick_border_light_gray: 2px solid
    rgba(
        $color: $gray_color,
        $alpha: 0.76,
    );

$scroll_bar_width: $distance_sm;
$scroll_bar_border_radius: $distance_sm;

$page_content_main_padding: $distance_lg;
$post_masonry_gap: clamp(20px, 2.4rem, 24px);
$postAndCommentItemPadding: 20px;
$postAndCommentItemAvatarWidth: clamp(42px, 14%, 50px);

$login_register_page_bgc: #3d1b00;
// $login_register_form_padding_normal: $distance_xxl $distance_3xl $distance_xl;
// $login_register_form_padding_tablet: $distance_xl $distance_xxl $distance_lg;
// $login_register_form_padding_mobile: $distance_lg $distance_lg $distance_md;
$login_register_form_padding_normal: calc($distance_xxl * 0.8) $distance_3xl calc($distance_xl * 0.8);
$login_register_form_padding_tablet: calc($distance_xl * 0.86) $distance_xxl calc($distance_lg * 0.8);
$login_register_form_padding_mobile: calc($distance_lg * 1.16) $distance_lg calc($distance_md * 0.8);

$login_register_form_gap_normal: clamp(24px, 2.6rem, 28px);
$login_register_form_gap_mobile: clamp(10px, 1.6rem, 18px);

$formErrorBoxPaddingNormal: $distance_sm $distance_md;
$formErrorBoxPaddingTablet: $distance_ssm;
$formErrorBoxPaddingMobile: $distance_ssm;
/* =============================================== */
/* THEME SET UP  */
/* =============================================== */
[data-theme='light'] {
    --bg_color: #{$snow_white_color};
    --bg_color_brighter: #{rgba($color: $light_gray_color, $alpha: 0.96)};
    --post_comment_item_bg: #{rgba($color: #f3f3f3, $alpha: 0.66)};
    --text_color: #{$black_text};
    --hover_text_color: #{$white_text};
    --text_hover_brightness: brightness(0.9);
    --out_focus_gray: #{$gray_color};
    --in_focus_gray: #{$dark_gray_color};
}

[data-theme='dark'] {
    --bg_color: #{$ebony_black_color};
    --bg_color_brighter: #{rgba($color: $gray_color, $alpha: 0.36)};
    --post_comment_item_bg: #{rgba($color: #2f3135, $alpha: 0.56)};
    // --post_comment_item_bg: #2f3135;
    --text_color: #{$white_text};
    --hover_text_color: #{$black_text};
    --text_hover_brightness: brightness(1.16);
    --out_focus_gray: #{$dark_gray_color};
    --in_focus_gray: #{$light_gray_color};
}
