$activitiesProfileBoxPadding: max($distance_xl, 3.2rem);

.userActivitiesPageContent {
    @include flexColumn;
    gap: clamp($distance_xl, 3.6rem, 40px);
}

.usrBasicInfoWrapper {
    @include flexCenter;

    .usrBasicInfo {
        min-width: 32%;
        max-width: 36%;
        @include flexCenter;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: clamp($distance_md, 2rem, $distance_lg);

        padding: $activitiesProfileBoxPadding;
        border-radius: $distance_md;
        box-shadow: 0 $distance_3sm $distance_sm var(--out_focus_gray);
        transition: $transition_md;

        &:hover {
            filter: brightness(1.006);
            transform: translateY(-2px);
            box-shadow: 0 $distance_ssm $distance_md var(--out_focus_gray);
        }

        @media (max-width: 1200px) {
            flex-direction: column;
            justify-content: center;
            max-width: 36%;
        }

        @media (max-width: 768px) {
            max-width: 40%;
            gap: clamp($distance_sm, 1rem, 14px);
        }

        @media (max-width: 600px) {
            max-width: 80%;
            gap: clamp($distance_md, 2rem, $distance_lg);
        }

        .basicInfoLeft {
            max-width: 30%;
            min-width: 25%;
            aspect-ratio: 1 / 1;

            @media (max-width: 1200px) {
                max-width: none;
                width: 40%;
            }

            @media (max-width: 768px) {
                width: 50%;
            }

            @media (max-width: 600px) {
                width: 40%;
            }
        }

        .usrActivitiesAvatarWrapper {
            width: 100%;

            &:has(.skeletonImage) {
                height: 100%;
            }

            .skeletonImage {
                width: 100%;
                height: 100%;
                border-radius: 999px;
            }
        }

        a.basicInfoRightProfileLink,
        .basicInfoRight {
            @include flexColumn;
            gap: clamp($distance_sm, 1.2rem, $distance_md);

            @media (max-width: 1024px) {
            }

            @media (max-width: 768px) {
                gap: clamp($distance_ssm, 0.8rem, $distance_sm);
            }

            @media (max-width: 600px) {
                gap: clamp($distance_sm, 1.2rem, $distance_md);
            }

            span {
                font-size: $fs_normal_md;
                color: var(--text_color);
                transition: $transition_md;

                text-decoration: underline;
                text-underline-offset: 0.36em;

                @media (max-width: 1024px) {
                    font-size: $fs_normal_sm;
                }

                @media (max-width: 768px) {
                    font-size: $fs_normal_ssm;
                }

                @media (max-width: 600px) {
                    font-size: $fs_normal_ssm;
                }
            }

            & > *:last-child {
                color: var(--in_focus_gray);
            }

            &:hover {
                span {
                    color: $primary_color;
                    text-decoration-color: $primary_color;
                }
            }
        }
    }
}

.userActivitiesWrapper {
    flex: 1;
}

.usrPostsWrapper {
}

.activitiesTwoPartsSectionHeading {
}

.activitiesWrapper {
}

.usrCommentsWrapper {
}

.noPostCommentText {
    font-size: $fs_normal_md;
    color: var(--text_color);
    transition: $transition_md;

    @media (max-width: 1024px) {
        font-size: $fs_normal_sm;
    }

    @media (max-width: 768px) {
        font-size: $fs_normal_ssm;
    }
}
